body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
/*--- navigation bar ---*/
.navbar {
  background:#6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}


.header {
  background-image: url('https://solidstarts.com/wp-content/uploads/when-can-babies-eat-watermelon.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}


.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #6ab446;
}
.description h2 {
  color: #6ab446;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description button {
  border:1px solid #6ab446;
  background:#6ab446;
  border-radius: 0;
  color:#fff;
}

.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}

.col-lg-6 {padding: 0; }

.row button {
  margin: 10px;
  text-align: center; 
}

#doctor-message {
  padding-top: 30px;
}

